* {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: black;
    cursor: pointer;
}
 
/* .scores {
    margin-left: 20px;
    margin-top: 30px;
} */

/* #quizContainer {
    margin-top: none;
} */ 

/* .timer {
    float: right;
} */

.marquee {
    padding-top: 10px;
    padding-bottom: 0px;
    margin: none;
    /* max-width: 60%; */
    font-family: 'Satisfy', cursive;
    color: cornflowerblue;
}

h6 {
    color: cornflowerblue;
}

ul, li, h1, p, div {
    color: white;
}

#quizIntro {
    padding-top: 100px;
}

#questionsSection {
    /* padding-right: 20%;
    padding-left: 20%; */
    /* top: 100px;
    color: white;
    font-size: 1.25em; */
    /* width: 800px;
    height: 800px;
    border: 1px solid cornflowerblue;
    border-style: dashed; */
}
#enterInitials {
    background-color: black;
    color: white;
}

#highScores {
    padding-top: 90px;
}

button {
    border-radius: 5px;
    padding: none;
}

.textarea {
    width: 90%;
    margin: 20px;
    color: white;
}

#Submit {
    background-color: white;
    margin-left: 33%;
    padding: 15px 32px;
    font-size: 20px;
    color: black;
    border-color: rgb(119, 43, 226);
}

.btn:hover {
    border-color: rgb(119, 43, 226);
}
/* 
.btn.correct {
    --hue: var(--hue-correct);
}

.btn.wrong {
    --hue: var(--hue-wrong);
} */

.footer {
    position: fixed;
    left: 0;
    bottom: 0;  
    width: 100%;
    background-color: black;
    color: cornflowerblue;
    text-align: center;
}
       